Repository SPECTRADataSolutions/.github, changes with the owners that CODEOWNERS names for each.
All owners: @SPECTRADataSolutions/context-maintainers, @SPECTRADataSolutions/runtime-reviewers, @SPECTRADataSolutions/architecture-reviewers, @SPECTRADataSolutions/engineering-leadership, @SPECTRADataSolutions/automation-reviewers, @SPECTRADataSolutions/devops-reviewers

Delete analytics directory
  analytics/README.md
  analytics/initiatives-history.jsonl
Owners: none

Delete anchors/examples directory
  anchors/examples/xWingAnchor.json
  anchors/examples/xWingTechnicalManual.md
Owners: @SPECTRADataSolutions/context-maintainers

Delete context/config/contextManifest.yaml
  context/config/contextManifest.yaml
Owners: none

Delete contracts directory
  contracts/assistant/assistantBlueprint.json
  contracts/assistant/mcpConfig.json
  contracts/context/anchor.json
  contracts/context/contextManifest.json
  contracts/context/hierarchyResponse.json
  contracts/context/redactionPolicy.json
  contracts/context/searchResult.json
  contracts/orgStructureMetadata.json
  contracts/schemaMeta.json
Owners: @SPECTRADataSolutions/architecture-reviewers

Delete dependency-graph directory
  dependency-graph/graph.json
Owners: none

Delete profile/README.md
  profile/README.md
Owners: none

Delete governance/workflows directory
  governance/workflows/schema-drift-check.yml
  governance/workflows/validate-content.yml
Owners: @SPECTRADataSolutions/context-maintainers, @SPECTRADataSolutions/devops-reviewers

Delete server/placeholder directory
  server/placeholder/README.md
Owners: @SPECTRADataSolutions/runtime-reviewers, @SPECTRADataSolutions/architecture-reviewers

Delete outputs directory
  outputs/README.md
Owners: none

Delete templates directory
  templates/assistant/.github/workflows/ci.yml
  templates/assistant/.gitignore
  templates/assistant/.spectra/metadata.yml
  templates/assistant/README.md
  templates/assistant/blueprint/assistantBlueprint.yaml
  templates/assistant/config/mcpConfig.yaml
  templates/assistant/docs/guardrails.md
  templates/assistant/docs/persona.md
  templates/assistant/docs/testing.md
  templates/assistant/docs/usage.md
  templates/assistant/requirements.txt
  templates/assistant/src/client/chatCli.py
  templates/assistant/src/providers/dataProvider.py
  templates/assistant/src/providers/gitProvider.py
  templates/assistant/src/providers/ticketingProvider.py
  templates/assistant/src/router/modelRouter.py
  templates/assistant/tests/test_persona.py
  templates/assistant/tests/test_providers.py
  templates/assistant/tests/test_router.py
  templates/migrationChecklist.md
  templates/repositoryMetadata.md
Owners: none

Delete .github/actions directory
  .github/actions/validate-assistant-blueprint/action.yml
  .github/actions/validate-mcp-config/action.yml
Owners: none

Delete .github/templates/orgMeta directory
  .github/templates/orgMeta/meta/orgStructure.json
  .github/templates/orgMeta/readmeSnippet.md
Owners: none

Delete .github/repoStructureStandard.yml
  .github/repoStructureStandard.yml
Owners: none

Delete test directory
  test/integration_demo.py
  test/test_assistant_governance.py
  test/test_repo_factory.py
Owners: none

Delete detachment-score.json
  detachment-score.json
Owners: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

feat(workflows): add create-initiative-epics workflow for initiative management
  .spectra/metadata.yml
  scripts/anchor-health/README.md
  scripts/anchor-health/extract_limits.sh
  scripts/anchor-health/issue_payload.sh
  scripts/anchor-health/manifest_validate.sh
  scripts/anchor-health/scan_anchors.sh
  workflows/anchor-reachability-and-size.yml
  workflows/check-anchor-health.yml
  workflows/check-assistant-design.yml
  workflows/check-context-file.yml
  workflows/check-issue-metadata.yml
  workflows/check-org-metadata.yml
  workflows/chief-of-staff-enforcement.yaml
  workflows/context-governance.yml
  workflows/create-initiative-epics.yml
  workflows/enforce-team-structure.yml
  workflows/labels-seeder.yml
  workflows/review-context-governance.yml
  workflows/stabilise-source-links.yml
  workflows/sync-label-list.yml
  workflows/update-dependency-map.yml
Owners: @SPECTRADataSolutions/context-maintainers, @SPECTRADataSolutions/automation-reviewers

feat: wrappers for generate + validate workflows
  workflows/generate-repository-service.yml
  workflows/validate-repository-structure.yml
Owners: none

Refactor repository provisioning and workflows
  .editorconfig
  DEPRECATED_WORKFLOWS.md
  docs/lessonsAutomation.md
  scripts/anchor_metrics.sh
  scripts/build_history.py
  scripts/computeDetachmentScore.py
  scripts/generate_lessons.py
  scripts/initiative_lessons_indexer.py
  scripts/label_readiness.py
  scripts/provision_repo.py
  scripts/repo_factory.py
  scripts/repository_provisioning.py
  workflows/analyze-initiative-proposals.yml
  workflows/anchor-reachability-and-size.yml
  workflows/check-anchor-health.yml
  workflows/guard-no-tabs.yml
  workflows/sync-label-list.yml
  workflows/validate-repository-structure.yml
Owners: @SPECTRADataSolutions/context-maintainers, @SPECTRADataSolutions/automation-reviewers

feat: remove deprecated workflows and scripts, streamline repository provisioning processes
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/WORKFLOW_NAMING_STANDARD.md
  docs/canonicalOrganisationalStructure.md
  docs/extractionChecklist.md
  docs/repoStructureStandard.md
  docs/repositoryFactory.md
  docs/splitTriggers.md
  scripts/anchor-health/README.md
  scripts/anchor-health/extract_limits.sh
  scripts/anchor-health/issue_payload.sh
  scripts/anchor-health/manifest_validate.sh
  scripts/anchor-health/scan_anchors.sh
  scripts/build_history.py
  scripts/generate_lessons.py
  scripts/post_comment.py
  scripts/repository_provisioning.py
  workflows/check-anchor-health.yml
  workflows/enforce-team-structure.yml
  workflows/review-context-governance.yml
  workflows/stabilise-source-links.yml
  workflows/sync-label-list.yml
Owners: @SPECTRADataSolutions/architecture-reviewers, @SPECTRADataSolutions/engineering-leadership, @SPECTRADataSolutions/context-maintainers, @SPECTRADataSolutions/automation-reviewers

feat(workflows): add new workflows for initiative triage, validation, and deprecation enforcement
  DEPRECATED_WORKFLOWS.md
  config/governance/initiativeTriage.yaml
  workflows/_delete_test.yml
  workflows/analyze-initiative-proposals.yml
  workflows/anchor-integrity.yml
  workflows/anchor-reachability-and-size.yml
  workflows/assign-initiative-owners.yml
  workflows/autonomy-scores.yml
  workflows/capture-runtime-metrics.yml
  workflows/check-anchor-health.yml
  workflows/check-context-file.yml
  workflows/check-issue-metadata.yml
  workflows/context-ref-pin.yml
  workflows/create-initiative-epics.yml
  workflows/del
  workflows/delete-me-test-renamed.yml
  workflows/delete-me-test.yml
  workflows/enforce-deprecations.yml
  workflows/guard-legacy-workflows.yml
  workflows/initiative-triage.yml
  workflows/stabilise-source-links.yml
  workflows/validate-organisation-structure.yml
Owners: none

chore: Phase 3 cleanup – remove legacy triage/deprecation workflows and diagnostics; retain unified context-ref-pin
  workflows/_delete_test.yml
  workflows/analyze-initiative-proposals.yml
  workflows/assign-initiative-owners.yml
  workflows/check-issue-metadata.yml
  workflows/create-initiative-epics.yml
  workflows/del
  workflows/delete-me-test-renamed.yml
  workflows/delete-me-test.yml
  workflows/enforce-deprecations.yml
  workflows/guard-legacy-workflows.yml
Owners: none

feat(workflows): add new workflow files for initiative management
  workflows/_delete_test.yml
  workflows/analyze-initiative-proposals.yml
  workflows/assign-initiative-owners.yml
  workflows/check-issue-metadata.yml
  workflows/create-initiative-epics.yml
  workflows/delete-me-test.yml
  workflows/stabilise-source-links.yml
  workflows/validate-organization-structure.yml
Owners: none

Remove deprecated scripts: initiative_lessons_indexer.py, label_readiness.py, post_comment.py, and provision_repo.py
  config/governance/initiativeTriage.yaml
  docs/WORKFLOW_NAMING_STANDARD.md
  docs/canonicalOrganisationalStructure.md
  docs/contextSystemGovernance.md
  docs/extractionChecklist.md
  docs/implementationSummary.md
  docs/lessonsAutomation.md
  docs/repoStructureStandard.md
  docs/repositoryProvisioning.md
  docs/snippets/navigationBlock.md
  docs/splitTriggers.md
  scripts/anchor_metrics.sh
  scripts/computeDetachmentScore.py
  scripts/generate_lessons.py
  scripts/initiative_lessons_indexer.py
  scripts/label_readiness.py
  scripts/post_comment.py
  scripts/provision_repo.py
Owners: @SPECTRADataSolutions/architecture-reviewers, @SPECTRADataSolutions/engineering-leadership, @SPECTRADataSolutions/context-maintainers, @SPECTRADataSolutions/automation-reviewers

feat: add new documentation and scripts for governance and automation
  config/governance/initiativeTriage.yaml
  docs/canonicalOrganisationalStructure.md
  docs/contextSystemGovernance.md
  docs/implementationSummary.md
  docs/lessonsAutomation.md
  docs/repoStructureStandard.md
  docs/repositoryProvisioning.md
  docs/snippets/navigationBlock.md
  scripts/anchor_metrics.sh
  scripts/computeDetachmentScore.py
  scripts/generate_lessons.py
  scripts/initiative_lessons_indexer.py
  scripts/label_readiness.py
  scripts/provision_repo.py
Owners: @SPECTRADataSolutions/context-maintainers, @SPECTRADataSolutions/automation-reviewers

chore: remove obsolete documentation files to streamline repository
  README.md
  docs/canonicalOrganisationalStructure.md
  docs/contextSystemGovernance.md
  docs/implementationSummary.md
  docs/lessonsAutomation.md
  docs/repoStructureStandard.md
  docs/repositoryProvisioning.md
  docs/snippets/navigationBlock.md
Owners: none

feat: add comprehensive SPECTRA AI Coding Agent instructions for framework and execution domains
  copilot-instructions.md
Owners: none

Revise README for SPECTRA Data focus
  README.md
Owners: none

Add Data org front page and scripts
  DISCOVERY_SCRIPT.md
  PROJECT_PROVISIONING_PLAN.md
  README.md
  copilot-instructions.md
  scripts/requirements.txt
  scripts/spectra_assistant_token.py
Owners: @SPECTRADataSolutions/context-maintainers, @SPECTRADataSolutions/automation-reviewers

Add vault guidance to Data instructions
  copilot-instructions.md
Owners: none

fix: update glossary entries and secret handling references for clarity
  copilot-instructions.md
Owners: none

Add standard CI workflow and Dependabot config
  dependabot.yml
  workflows/ci.yml
Owners: none

chore: refresh context artifacts
  .github/workflows/validate-context-artifacts.yml
  .spectra/context/context.graph.yaml
  .spectra/context/index.md
  scripts/context/generate_context.py
Owners: @SPECTRADataSolutions/context-maintainers, @SPECTRADataSolutions/automation-reviewers

docs: point Copilot to description convention
  copilot-instructions.md
Owners: none

Workspace-wide commit: Update Seven Frameworks and foundational documents
  .github/ISSUE_TEMPLATE/config.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .github/workflows/validate-context-artifacts.yml
  .spectra/context/context.graph.yaml
  .spectra/context/index.md
  scripts/context/generate_context.py
Owners: @SPECTRADataSolutions/context-maintainers, @SPECTRADataSolutions/automation-reviewers

CODEOWNERS:

# SPECTRA Context System Code Ownership

# Global ownership for all context-related files
/anchors/ @SPECTRADataSolutions/context-maintainers
/manifests/ @SPECTRADataSolutions/context-maintainers
/governance/ @SPECTRADataSolutions/context-maintainers

# Server runtime requires stricter review (future extraction readiness)
/server/ @SPECTRADataSolutions/runtime-reviewers @SPECTRADataSolutions/architecture-reviewers

# Contracts and schemas require architecture review (Framework as Law)
/contracts/schemaMeta.json @SPECTRADataSolutions/architecture-reviewers
/contracts/context/ @SPECTRADataSolutions/architecture-reviewers

# Split trigger and extraction documentation
/docs/splitTriggers.md @SPECTRADataSolutions/architecture-reviewers @SPECTRADataSolutions/engineering-leadership
/docs/extractionChecklist.md @SPECTRADataSolutions/architecture-reviewers @SPECTRADataSolutions/engineering-leadership

# Scripts for detachment scoring and automation
/scripts/ @SPECTRADataSolutions/context-maintainers @SPECTRADataSolutions/automation-reviewers

# Context-specific workflows in governance
/governance/workflows/ @SPECTRADataSolutions/context-maintainers @SPECTRADataSolutions/devops-reviewers
